<% @title = "Jobby - View Info" %>

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/potentialjobs">Potential Jobs</a></li>
  <li><a href="/potentialjobs/<%= current_job.id %>">View Job</a></li>
</ol>

<h2><%= current_job.job_title %> at <b><%= current_job.company.name %></b></h2>

<p><b>Status:</b> <%= current_job.status %></p>

<p><b>Link to Job Posting:</b> <a href="<%= current_job.link %>"><%= current_job.link %></a></p>

<p><b>Notes:</b> <%= current_job.notes %>

<p><i>Last updated on <%= current_job.updated_at.strftime("%B %e") %></i></p>

<hr />

<form class="form-inline" action="/potentialjobs/<%= current_job.id %>" method="post">
  <a class="btn btn-primary" href="/potentialjobs/<%= current_job.id %>/edit">Edit Info</a>
  <a class="btn btn-primary" href="/companies/<%= current_job.company.slug %>">View Company Info</a>
  <a class="btn btn-primary" href="/potentialjobs">Back to List</a>
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input class="form-control btn btn-danger" type="submit" name="delete" value="Delete This Job">
</form>
