<% @title = "Jobby - View Info" %>

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/potentialjobs">Potential Jobs</a></li>
  <li><a href="/potentialjobs/<%= @job.id %>">View Job</a></li>
</ol>

<h2><%= @job.job_title %> at <b><%= @job.company.name %></b></h2> 

<p>Status: <%= @job.status %></p>

<p>Link to Job Posting: <a href="<%= @job.link %>"><%= @job.link %></a></p>

<p><i>Last updated on <%= @job.updated_at.strftime("%B %e") %></i></p>

<hr />



<form class="form-inline" action="/potentialjobs/<%= @job.id %>" method="post">
  <a class="btn btn-primary" href="/potentialjobs/<%= @job.id %>/edit">Edit Info</a>
  <a class="btn btn-primary" href="/potentialjobs">Back to List</a>
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input class="form-control btn btn-danger" type="submit" name="delete" value="Delete This Job">
</form>
