<% @title = "Jobby - Edit Company Info" %>

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/companies">Companies</a></li>
  <li><a href="/companies/<%= current_company.id %>">View</a></li>
  <li><a href="/companies/<%= current_company.id %>/edit">Edit</a></li>
</ol>

<form data-toggle="validator" role="form" action="/companies/<%= current_company.slug %>" method="post">
    <input id="hidden" type="hidden" name = "_method" value="PATCH">
    <div class="form-group">
      <label class="control-label">Name</label>
      <input class="form-control" type="text" name="info[name]" value="<%= current_company.name %>" required>
    </div>

    <div class="form-group">
      <label>Website</label>
      <div class="input-group">
        <span class="input-group-addon">http://</span>
        <input class="form-control" type="text" name="info[website]" value="<%= current_company.website %>">
      </div>
    </div>

    <div class="form-group">
      <label>Notes:</label>
      <input class="form-control" type="text" name="notes" value="<%= current_company.notes %>">
    </div>

    <button class="btn btn-primary" type="submit">Save New Info</button>
</form>
