<% @title = "Jobby - Edit Company Info" %>

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/companies">Companies</a></li>
  <li><a href="/companies/<%= @company.id %>">View</a></li>
  <li><a href="/companies/<%= @company.id %>/edit">Edit</a></li>
</ol>

<form action="/companies/<%= @company.slug %>" method="post">
    <input id="hidden" type="hidden" name = "_method" value="PATCH">
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" type="text" name="name" value="<%= @company.name %>">
    </div>
    <div class="form-group">
      <label>Website</label>
      <input class="form-control" type="text" name="website" value="<%= @company.website %>">
    </div>
    <button class="btn btn-primary" type="submit">Save New Info</button>
</form>