<% @title = "Jobby - View Company Info" %>

<h1><%= current_company.name %></h1>
<% if current_company.website != "" %>
    <p><b>Website:</b> <a href="<%= current_company.website %>"><%= current_company.website %></a></p>
<% end %>
<p><b>Notes:</b> <%= current_company.notes %></p>

<hr />

<form class="form-inline" action="/companies/<%= current_company.slug %>" method="post">
  <a class="btn btn-primary" href="/companies/<%= current_company.slug %>/edit">Edit Info</a>
  <a class="btn btn-primary" href="/companies">Back to List</a>
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input class="form-control btn btn-danger" type="submit" name="delete" value="Delete Company">
</form>
